This script is to add data general. 
Import all required tools

In [1]:
import ixmp
import message_ix
import numpy as np
import pandas as pd
import yaml

from collections.abc import Mapping
from itertools import repeat
from message_ix.models import MESSAGE_ITEMS
from message_ix.utils import make_df

%matplotlib inline

mp = ixmp.Platform('local')

C:\Users\pratama\Documents\GitHub\MESSAGEix\message_ix\message_ix\reporting\__init__.py:98: FutureWarning: Importing from genno.computations will be deprecated in a future version; use genno.operator instead.
  ("tom:nl-t-yv-ya", (genno.computations.add, "fom:nl-t-yv-ya", "vom:nl-t-yv-ya")),

This part is just to generate a dummy scenario as basis for adding technology parameters. Need to be removed once integrated

In [2]:
model = "Westeros Electrified"

base = message_ix.Scenario(mp, model=model, scenario="baseline")
scen = base.clone(
    model,
    "add_tech",
    "introducing the add_tech feature on MESSAGEix",
    keep_solution=False,
)
scen.check_out()

year_df = scen.vintage_and_active_years()
vintage_years, act_years = year_df["year_vtg"], year_df["year_act"]
model_horizon = scen.set("year")
country = "Westeros"

In [3]:
# Read DACCS technology data
with open('tech_data_westeros.yaml','r') as stream:
    tech_data = yaml.safe_load(stream)

# Set up dictionary of parameter indices list
par_idx = {}
data = {}

# Create dicitonary of parameter indices and data
for tech in set(tech_data):
    # add vintage and active years and update tech_data for each tech
    years_vtg_act = scen.vintage_and_active_years()
    years_vtg_act = years_vtg_act[years_vtg_act['year_vtg'] >= tech_data[tech]['year_init']]
    tech_data[tech]['year_vtg']= years_vtg_act['year_vtg'].to_list()
    tech_data[tech]['year_act']= years_vtg_act['year_act'].to_list()

    # collect parameter indices and update data
    par_idx.update({tech: {name: {idx: [] for idx in list(MESSAGE_ITEMS[tech_data[tech][name]['par_name']].get('idx_names'))} 
                           for name in set(tech_data[tech]) - set(['year_init','year_vtg','year_act'])
                          }})
    
    data.update({tech: {name: [] for name in list(par_idx[tech].keys())}})

In [4]:
year_df

   year_vtg  year_act
0       690       700
1       690       710
2       690       720
3       700       700
4       700       710
5       700       720
6       710       710
7       710       720
8       720       720

In [5]:
tech_data['LT_DAC']['year_vtg']

[700, 700, 700, 710, 710, 720]

In [6]:
# If those are not provided, then this block of code is needed to retrieve them from the data input
regions = []
emissions = []
times = []
modes = []
commodities = []
levels = []
relations = []

set_elements_dict = {
    'node_loc'   :{'data': regions,     'name':'node'},
    'emission'   :{'data': emissions,   'name':'emission'},
    'mode'       :{'data': modes,       'name':'mode'},
    'time'       :{'data': times,       'name':'time'},
    'commodity'  :{'data': commodities, 'name':'commodity'},
    'level'      :{'data': levels,      'name':'level'},
    'time_origin':{'data': times,       'name':'time'},
    'time_dest'  :{'data': times,       'name':'time'},
    'relation'   :{'data': relations,   'name':'relation'},
    'node_rel'   :{'data': regions,     'name':'node'},
}   

# investment cost

In [7]:
tech_data['LT_DAC']['year_vtg']

[700, 700, 700, 710, 710, 720]

In [8]:
# Create DataFrame for all parameters
for tec, val in data.items():
    for name in val.keys():
        kwargs = {}
        if all(idx in par_idx[tec][name] for idx in ['year_vtg','year_act']):
            kwargs = {
                'year_vtg': tech_data[tec]['year_vtg'],
                'year_act': tech_data[tec]['year_act']
            }
        elif 'year_vtg' in par_idx[tec][name]:
            kwargs = {
                'year_vtg': sorted(set(tech_data[tec]['year_vtg']))
            }
        else:
            kwargs = {
                'year_act': sorted(set(tech_data[tec]['year_act']))
            }
            # if 'year_rel' is present, the values are assumed from 'year_act' values
            if 'year_rel' in par_idx[tec][name]:
                kwargs.update(
                    {'year_rel': sorted(set(tech_data[tec]['year_act']))}
                )

        df = make_df(tech_data[tec][name]['par_name'],
                    technology=tec,
                    value=tech_data[tec][name]['value'],
                    unit=tech_data[tec][name]['unit'],
                    **kwargs)    
        #if tec == 'LT_DAC':
        #    if name == 'inv_cost_':
        #        print(tec,name)
        #        print('par:',tech_data[tec][name]['par_name'])
        #        print('technology:',tec)
        #        print('value',tech_data[tec][name]['value'])
        #        print('unit',tech_data[tec][name]['unit'])
        #        print(kwargs)
        #        print(df)
        # create empty dataframe
        idx_exp = [e for e in par_idx[tec][name] 
                if e not in ['technology','year_vtg','year_act','year_rel',
                                'node_origin','node_dest',
                                'time_origin','time_dest',
                            ]]

        for idx in idx_exp:
            default = (
                {e:1 for e in list(scen.set(set_elements_dict[idx]['name']))[1:]} 
                if idx in ['node_loc','mode']
                else {e:1 for e in list(scen.set(set_elements_dict[idx]['name']))}
            )
            
            listidx = list(tech_data[tec][name].get(idx,default))
            listdfidx = []
            for e in listidx:
                df1 = df.copy()
                df1[idx] = [e] * len(df)
                listdfidx.append(df1)
            df = pd.concat(listdfidx, ignore_index=True)

        # assigning values for node and time related indices
        for idx in df.columns:
            if idx in ['node_origin','node_dest']:
                df[idx] = df['node_loc']
            if idx in ['time_origin','time_dest']:
                df[idx] = df['time']

        # Calculate values of row-by-row multipliers
        mult = []
        for i in range(len(df)):
            # node_loc factor
            _node_loc = (tech_data[tec]
                        .get(name,{})
                        .get('node_loc',{})
                        .get(df.get('node_loc',{}).get(2),1)
                        )

            # year_vtg factor
            # _year_vtg = (1+rate)**delta_years
            _year_vtg = (((1+tech_data[tec]
                        .get(name,{})
                        .get('year_vtg',{})
                        .get('rate',0))
                        **(df['year_vtg'][i] - tech_data[tech]['year_init']))
                        if 'year_vtg' in df.columns else 1
                        )

            # year_act factor
            # _year_act = (1+rate)**(year_act-year_vtg) if both years present
            # _year_act = (1+rate)**(year_act-first_active_year) if no year_vtg
            _year_act = (((1+tech_data[tec]
                            .get(name,{})
                            .get('year_act',{})
                            .get('rate',0))
                        **(df['year_act'][i]
                            -(df['year_vtg'][i] 
                            if 'year_vtg' in df.columns 
                            else tech_data[tech]['year_init'])))
                        if 'year_act' in df.columns else 1
                        )

            # get mode multiplier from model_data
            _mode = (tech_data[tec]
                    .get(name,{})
                    .get('mode',{})
                    .get(df.get('mode',{}).get(i),1)
                    )

            mult.append(
                    np.prod([_node_loc, _year_vtg, _year_act, _mode,])
                )

        # index adjusted df
        value = df['value'] * mult
        value = [round(e,3) for e in value]
        df['value'] = value

        data[tec][name] = df

In [9]:
df

,node_loc,technology,year_vtg,year_act,mode,emission,value,unit
0,Westeros,dacco2_tr_dis,700,700,M1,CO2_storage,1,Mt C/yr
1,Westeros,dacco2_tr_dis,700,710,M1,CO2_storage,1,Mt C/yr
2,Westeros,dacco2_tr_dis,700,720,M1,CO2_storage,1,Mt C/yr
3,Westeros,dacco2_tr_dis,710,710,M1,CO2_storage,1,Mt C/yr
4,Westeros,dacco2_tr_dis,710,720,M1,CO2_storage,1,Mt C/yr
5,Westeros,dacco2_tr_dis,720,720,M1,CO2_storage,1,Mt C/yr

In [13]:
tech_data['LT_DAC']

{'year_init': 700,
 'inv_cost_': {'par_name': 'inv_cost',
  'value': 1245.5,
  'unit': 'USD/GWa',
  'node_loc': {'Westeros': 1},
  'year_vtg': {'rate': -0.01}},
 'fix_cost_': {'par_name': 'fix_cost',
  'value': 160.7,
  'unit': 'USD/GWa',
  'node_loc': {'Westeros': 1},
  'year_vtg': {'rate': 0},
  'year_act': {'rate': 0}},
 'input_': {'par_name': 'input',
  'value': 1,
  'unit': 'GWa',
  'node_loc': {'Westeros': 1},
  'mode': {'M1': 1},
  'commodity': {'electr': 1},
  'level': {'final': 0.54}},
 'capacity_factor_': {'par_name': 'capacity_factor',
  'value': 0.913,
  'unit': '-',
  'node_loc': {'Westeros': 1}},
 'technical_lifetime_': {'par_name': 'technical_lifetime',
  'value': 25,
  'unit': 'y',
  'node_loc': {'Westeros': 1}},
 'construction_time_': {'par_name': 'construction_time',
  'value': 2,
  'unit': 'y',
  'node_loc': {'Westeros': 1}},
 'abs_cost_activity_soft_up_': {'par_name': 'abs_cost_activity_soft_up',
  'value': 175,
  'unit': '-',
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0.0},
  'time': {'year': 1}},
 'growth_activity_lo_': {'par_name': 'growth_activity_lo',
  'value': -0.05,
  'unit': '-',
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0.0},
  'time': {'year': 1}},
 'level_cost_activity_soft_lo_': {'par_name': 'level_cost_activity_soft_lo',
  'value': 0.5,
  'unit': '-',
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0.0},
  'time': {'year': 1}},
 'level_cost_activity_soft_up_': {'par_name': 'level_cost_activity_soft_up',
  'value': 0.5,
  'unit': '-',
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0.0},
  'time': {'year': 1}},
 'relation_activity_DAC_mpen_c': {'par_name': 'relation_activity',
  'value': 1,
  'unit': 'Mt C/yr',
  'relation': ['DAC_mpen_c'],
  'year_rel': {'rate': 0},
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0},
  'mode': {'M1': 1}},
 'relation_activity_CO2_Emission': {'par_name': 'relation_activity',
  'value': -1,
  'unit': 'Mt C/yr',
  'relation': ['CO2_Emission'],
  'year_rel': {'rate': 0},
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0},
  'mode': {'M1': 1}},
 'relation_activity_dacco2_td': {'par_name': 'relation_activity',
  'value': -1,
  'unit': 'Mt C/yr',
  'relation': ['dacco2_trans_disp'],
  'year_rel': {'rate': 0},
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0},
  'mode': {'M1': 1}},
 'relation_activity_CO2_cc': {'par_name': 'relation_activity',
  'value': -1,
  'unit': 'Mt C/yr',
  'relation': ['CO2_cc'],
  'year_rel': {'rate': 0},
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0},
  'mode': {'M1': 1}},
 'relation_activity_oper_res': {'par_name': 'relation_activity',
  'value': 0.85,
  'unit': 'Mt C/yr',
  'relation': ['oper_res'],
  'year_rel': {'rate': 0},
  'node_loc': {'Westeros': 1},
  'year_act': {'rate': 0},
  'mode': {'M1': 1}},
 'year_vtg': [700, 700, 700, 710, 710, 720],
 'year_act': [700, 710, 720, 710, 720, 720]}

In [10]:
for tec,val in data.items():
    with pd.ExcelWriter(f'{tec}.xlsx', engine='xlsxwriter', mode='w') as writer:
        for sheet_name, sheet_data in val.items():
            sheet_data.to_excel(writer, sheet_name=sheet_name, index=False)

In [ ]:
data

In [ ]:
set(tech_data.keys())

In [ ]:
len('relation_activity_dacco2_trans_disp')

In [ ]:
df

# Below is old script draft

In [ ]:
# DONOT DELETE
tec = 'DACCS'
name = 'emission_factor_co2'

kwargs = {}
if all(idx in par_idx[tec][name] for idx in ['year_vtg','year_act']):
    kwargs = {
        'year_vtg': tech_data[tec]['year_vtg'],
        'year_act': tech_data[tec]['year_act']
    }
elif 'year_vtg' in par_idx[tech][name]:
    kwargs = {
        'year_vtg': sorted(set(tech_data[tec]['year_vtg']))
    }
else:
    kwargs = {
        'year_act': sorted(set(tech_data[tec]['year_act']))
    }
    # if 'year_rel' is present, the values are assumed from 'year_act' values
    if 'year_rel' in par_idx[tec][name]:
        kwargs.update(
            {'year_rel': sorted(set(tech_data[tec]['year_act']))}
        )

df = make_df(tech_data[tec][name]['par_name'],
             technology=tec,
             value=tech_data[tec][name]['value'],
             unit=tech_data[tec][name]['unit'],
             **kwargs)    

# create empty dataframe
idx_exp = [e for e in par_idx[tec][name] 
           if e not in ['technology','year_vtg','year_act',
                        'node_origin','node_dest',
                        'time_origin','time_dest',
                       ]]

for idx in idx_exp:
    default = (
        {e:1 for e in list(scen.set(set_elements_dict[idx]['name']))[1:]} 
        if idx in ['node_loc','mode']
        else {e:1 for e in list(scen.set(set_elements_dict[idx]['name']))}
    )
    
    listidx = list(tech_data[tec][name].get(idx,default))
    listdfidx = []
    for e in listidx:
        df1 = df.copy()
        df1[idx] = [e] * len(df)
        listdfidx.append(df1)
    df = pd.concat(listdfidx, ignore_index=True)

# assigning values for node and time related indices
for idx in df.columns:
    if idx in ['node_origin','node_dest']:
        df[idx] = df['node_loc']
    if idx in ['time_origin','time_dest']:
        df[idx] = df['time']

# Calculate value row-by-row multiplier
mult = []
for i in range(len(df)):
    # node_loc factor
    _node_loc = (tech_data[tec]
                  .get(name,{})
                  .get('node_loc',{})
                  .get(df.get('node_loc',{}).get(2),1)
                 )

    # year_vtg factor
    # _year_vtg = (1+rate)**delta_years
    _year_vtg = (((1+tech_data[tec]
                   .get(name,{})
                   .get('year_vtg',{})
                   .get('rate',0))
                  **(df['year_vtg'][i] - tech_data[tech]['year_init']))
                  if 'year_vtg' in df.columns else 1
                )

    # year_act factor
    # _year_act = (1+rate)**(year_act-year_vtg) if both years present
    # _year_act = (1+rate)**(year_act-first_active_year) if no year_vtg
    _year_act = (((1+tech_data[tec]
                    .get(name,{})
                    .get('year_act',{})
                    .get('rate',0))
                   **(df['year_act'][i]
                     -(df['year_vtg'][i] 
                       if 'year_vtg' in df.columns 
                       else tech_data[tech]['year_init'])))
                  if 'year_act' in df.columns else 1
                )

    # get mode multiplier from model_data
    _mode = (tech_data[tec]
             .get(name,{})
             .get('mode',{})
             .get(df.get('mode',{}).get(i),1)
            )

    mult.append(
            np.prod([_node_loc, _year_vtg, _year_act, _mode,])
        )

# index adjusted df
value = df['value'] * mult
value = [round(e,3) for e in value]
df['value'] = value

df

# Close the database

In [11]:
mp.close_db()